*{
    padding: 0%;
    margin: 0%;
}

html, body {
    height: 100%;
    background: #f5f5dc;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / 3; 
}

nav{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#principal{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

@media (max-width: 800px){
    h1{
        color: #0F0F60;
    }
}

#principal > * {
    margin-bottom: 5px;
}